<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 响应式的导航栏</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
			.fakeimg {
				height: 200px;
				 background: #aaa;
			}
		  </style>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid"> 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Python</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="http://127.0.0.1:8000/ShowMovies/">Movies</a></li>
			<li><a href="http://127.0.0.1:8000/ShowPhone/">JD_Phone</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Help <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">User_Information</a></li>
					<li><a href="#">EJB</a></li>
					<li><a href="#">Jasper Report</a></li>
					<li class="divider"></li>
					<li><a href="#">分离的链接</a></li>
					<li class="divider"></li>
					<li><a href="#">另一个分离的链接</a></li>
				</ul>
			</li>
        </ul>
        <ul class="nav navbar-nav navbar-right"> 
				<li><a href="http://127.0.0.1:8000/User/"><span class="glyphicon glyphicon-userinformation"></span> 用户信息</a></li> 
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li> 
				<li><a href="http://127.0.0.1:8000/login/"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li> 
			</ul> 
	</div>
	</div>	
</nav>
<div class="container">
		<div class="row">
		  <div class="col-sm-4">
			<h2>关于Python</h2>
			<h5>我的照片:</h5>
			<div class="fakeimg">这边插入图像</div>
			<p>关于我的介绍..</p>
			<h3>链接</h3>
			<p>描述文本。</p>
			<ul class="nav nav-pills nav-stacked">
			  <li class="active"><a href="#">链接 1</a></li>
			  <li><a href="#">链接 2</a></li>
			  <li><a href="#">链接 3</a></li>
			</ul>
			<hr class="hidden-sm hidden-md hidden-lg">
		  </div>
		  <div class="col-sm-8">
			<h2>标题</h2>
			<h5>副标题</h5>
			<div class="fakeimg">图像</div>
			<p>一些文本..</p>
			<p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
			<br>
			<h2>标题</h2>
			<h5>副标题</h5>
			<div class="fakeimg">图像</div>
			<p>一些文本..</p>
			<p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
		  </div>
		</div>
	  </div>
	  

<div class="jumbotron text-center" style="margin-bottom:0">
		<p>底部内容</p>
	  </div>
</body>
</html>